# docker-compose.prod.yaml
version: '3.8'

services:
  conduit-frontend:
    image: ghcr.io/mihaiandreineacsu/conduit-frontend:latest
    depends_on:
      - conduit-backend
    restart: on-failure
    ports:
      - "8282:8080"

  conduit-backend:
    image: ghcr.io/mihaiandreineacsu/conduit-backend:latest
    restart: on-failure
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - backend-data:/app/db
      - static:/app/static

volumes:
  backend-data:
  static:
