services:

  conduit-frontend:
    build:
      context: ./conduit-frontend
      dockerfile: ../frontend.Dockerfile
      args:
        API_URL: ${API_URL}
    depends_on:
      - conduit-backend
    restart: unless-stopped
    ports:
      - 8282:80
    volumes:
      - ./logs/frontend:/var/log/container_logs
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    env_file:
      - .env

  conduit-backend:
    build:
      context: ./conduit-backend
      dockerfile: ../backend.Dockerfile
    restart: unless-stopped
    ports:
      - 8889:8000
    volumes:
      - db:/app/db
      - ./logs/backend:/var/log/container_logs
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    env_file:
      - .env

volumes:
  db:

