name: Deploy Conduit

on:
  push:
    tags:
      - '*'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2
        with:
          submodules: true
          fetch-depth: 0

      - name: Login to Github Container Registries
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and Push Conduit Frontend
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./frontend.Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/conduit-frontend:${{ github.ref_name }}
          build-args: |
            API_URL=${{ secrets.BACKEND_URL }}
            API_PORT=${{ secrets.BACKEND_PORT }}

      - name: Build and Push Conduit Backend
        uses: docker/build-push-action@v4
        with:
          context: .
          file: './backend.Dockerfile'
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/conduit-backend:${{ github.ref_name }}

      - name: Create .env File
        run: |
          cat << EOF > .env
          FRONTEND_URL=${{ secrets.FRONTEND_URL }}
          FRONTEND_PORT=${{ secrets.FRONTEND_PORT }}
          BACKEND_URL=${{ secrets.BACKEND_URL }}
          BACKEND_PORT=${{ secrets.BACKEND_PORT }}
          DJANGO_SECRET_KEY=${{ secrets.DJANGO_SECRET_KEY }}
          DJANGO_DEBUG=${{ secrets.DJANGO_DEBUG }}
          DJANGO_SUPERUSER_EMAIL=${{ secrets.DJANGO_SUPERUSER_EMAIL }}
          DJANGO_SUPERUSER_USERNAME=${{ secrets.DJANGO_SUPERUSER_USERNAME }}
          DJANGO_SUPERUSER_PASSWORD=${{ secrets.DJANGO_SUPERUSER_PASSWORD }}
          EOF
        shell: bash

      - name: Secure Copy docker-compose and .env files to Cloud VM
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.REMOTE_SSH_KEY }}
          source: "docker-compose.yaml,.env"
          target: "/tmp"

      - name: Login to Cloud VM and release Conduit
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.REMOTE_SSH_KEY }}
          script: |
            set -e
            cd /tmp
            echo ${{ secrets.GHCR_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            export FRONTEND_TAG=${{ github.ref_name }}
            export BACKEND_TAG=${{ github.ref_name }}
            export BACKEND_PORT=${{ secrets.BACKEND_PORT }}
            docker-compose pull
            docker-compose down
            docker-compose up -d





