name: Deploy Conduit

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2
        with:
          submodules: true

      - name: Login to Github Container Registries
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Conduit Frontend
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./frontend.Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/conduit-frontend:latest
          build-args: |
            API_URL=${{ secrets.BACKEND_URL }}
            API_PORT=${{ secrets.BACKEND_PORT }}

      - name: Build and Push Conduit Backend
        uses: docker/build-push-action@v4
        with:
          context: .
          file: './backend.Dockerfile'
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/conduit-backend:latest

      - name: Create .env File
        run: |
            echo "FRONTEND_URL=${{ secrets.FRONTEND_URL }}" >> .env
            echo "FRONTEND_PORT=${{ secrets.FRONTEND_PORT }}" >> .env
            echo "BACKEND_URL=${{ secrets.BACKEND_URL }}" >> .env
            echo "BACKEND_PORT=${{ secrets.BACKEND_PORT }}" >> .env
            echo "DJANGO_SECRET_KEY=${{ secrets.DJANGO_SECRET_KEY }}" >> .env
            echo "DJANGO_DEBUG=${{ secrets.DJANGO_DEBUG }}" >> .env
            echo "DJANGO_SUPERUSER_EMAIL=${{ secrets.DJANGO_SUPERUSER_EMAIL }}" >> .env
            echo "DJANGO_SUPERUSER_USERNAME=${{ secrets.DJANGO_SUPERUSER_USERNAME }}" >> .env
            echo "DJANGO_SUPERUSER_PASSWORD=${{ secrets.DJANGO_SUPERUSER_PASSWORD }}" >> .env
        shell: bash

      - name: Secure Copy docker-compose and .env files to Cloud VM
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.REMOTE_SSH_KEY }}
          source: "docker-compose.yaml,.env"
          target: "/tmp"

      - name: Login to Cloud VM and release Conduit
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.REMOTE_SSH_KEY }}
          script: |
            set -e
            cd /tmp
            echo ${{ secrets.GHCR_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            docker-compose pull
            docker-compose down
            docker-compose up -d





